.listing-detail-container{
  display: flex;
  flex-direction: column;
  background-color: white;
  justify-self: center;
  width:80%;
  height: auto;
  border-radius: 1em;
  padding: 1em;
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.2);
}
.listing-detail-header{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.listing-detail-header h2{
  font-size: 1.8em;
}
.listing-detail-user{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 1em;
}
.listing-detail-user img{
  width: 3em;
  height: 3em;
  padding: 0.5em;
  background-color: #E1EBF8;
  border-radius: 50%;
}

/*  modified from the stylings of react-tabs package */
.react-tabs {
  -webkit-tap-highlight-color: transparent;
}

.react-tabs__tab-list {
  display: flex;
  justify-content: flex-start;
  border-bottom: 3px solid #BFC7E0;
  margin: 0 0 10px;
  padding: 0;
}

.react-tabs__tab {
  margin-right: 10px;
  display: inline-block;
  border: 3px solid transparent;
  border-bottom: none;
  bottom: -3px;
  position: relative;
  list-style: none;
  padding: 6px 12px;
  cursor: pointer;
  font-weight: 500;
  color: #616980 ;
}

.offering-selected{
  background: #fff;
  border-color: #5988D8;
  color: #5988D8;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.seeking-selected{
  background: #fff;
  border-color: #D8A959;
  color: #D8A959;
  font-weight: 500;
  border-radius: 5px 5px 0 0;
}

.react-tabs__tab--disabled {
  color: GrayText;
  cursor: default;
}

.react-tabs__tab:focus {
  outline: none;
}

.react-tabs__tab:focus:after {
  content: '';
  position: absolute;
  height: 5px;
  left: -4px;
  right: -4px;
  bottom: -5px;
  background: #fff;
}

.react-tabs__tab-panel {
  display: none;
}

.react-tabs__tab-panel--selected {
  display: block;
}

/* Mobile format */
@media screen and (max-width: 830px) {
  .listing-detail-container{
    width: 100%;
  }
  .listing-detail-header {
    display: flex;
    flex-direction: column;
  }

  .listing-detail-header h2 {
    order: 1; /* Ensure the Listing# comes first */
    font-size: 1.5em;
  }

  .listing-detail-header .listing-detail-user {
    display: flex;
    flex-direction: row; 
    gap: 0.5em;

    order: 2; /* Position after Listing # */
  }

  .listing-detail-header .listing-detail-user img {
    display: none; /* Hide the image on mobile */
  }

  .listing-detail-header p {
    order: 3; /* Position after username */
    margin-top: 0;
  }

}