.tradeable-container{
  background-color: transparent;
  justify-content: center;
  align-items: center;
  width: 1.5em;
  height: 1.5em;
  border-radius: 50%;
  border-width: 0.1em; 
  border-style: solid;
  opacity: 0;
  transition: background-color 0.3s ease-in-out,  opacity 0.3s ease-in-out;
}
.selected-container{
  background-color: #212A4A;
  border-color: #212A4A;
  opacity: 1;
}
.trade-icon{
  font-size: 1.5em;
  transition: color 0.3s ease-in-out;
}
.not-selected-trade-icon{
  color:#88A0E6;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.selected-trade-icon{
  color:#88A0E6;
  opacity: 1;
}