.species-page-container{
  justify-content: center;
  align-items: center;
  margin-top: 3em;
  height: 100vh;
}
.species-contents{
  justify-content: center;
  align-items: center;
  height: 100%; 
  width: 100%;
  display:flex;
  flex-direction: column;
}
.species-navigation{
  display: flex;
  justify-content: space-between;
  position: relative;
  width: 100%;
  padding: 0 1em;
}
.previous-only{
  justify-content: flex-start;
}
.next-only{
  justify-content: flex-end;
}

.species-entry{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  height: 600em;
  width: 40em;
  border-radius: 2em;
}
.species-entry-content{
  justify-content: center;
  align-items: center;
}
.species-title{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 2em;
}
.name-species{
  margin-right: 0.3em;
}
.species-num{
  font-size: 2.2em;
  font-weight: 400;
  color: #616980;
}
.species-carousel{
  width:20em;
  height: 20em;
  margin: 0 auto; 
}
.species-swiper{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}
.species-swiper .swiper-pagination-bullet {
  background-color: #616980;
  height: 1em;
  width: 1em;
}
.species-swiper .swiper-pagination-bullet-active {
  background-color: white; /* Active dot color */
}

/* Mobile format */
@media screen and (max-width: 688px) {
  .species-navigation{
    padding: 0 1em;
  }
  .species-entry{
    width: 90vw;
  }
  .species-carousel{
    width:10em;
    height: 10em;
  }
  .species-swiper .swiper-pagination-bullet {
    background-color: #616980;
    height: 0.5em;
    width: 0.5em;
  }
  .species-swiper .swiper-pagination-bullet-active {
    background-color: white; /* Active dot color */
  }
}
