.pokedetails-container{
  background-color: #F2F6FC;
  border-radius: 2em;
  width: 25rem;
  height: auto;
  z-index: 9999; 
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  padding: 1em;
  max-width: 100%;
  max-height: 80vh;
  overflow-y: auto;
}
.pokebox{
  position: fixed;
  top: 6em;
  right: 0;
}
.incubator{
  position: fixed;
  top: 50%;
  left:50%;
  transform: translate(-50%, -40%);
}
.pokedetails-container h1{
  font-size: 1.8em;
}
.details-buttons{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.pokeimg{
  width: 35%;
  margin-top: 2em;
}
.poke-type{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1em;
}
.info-tags{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap:1em;
}
.poke-entry{
  padding-left: 2em;
  padding-right: 2em;
}
.poke-entry h2,h3{
  margin-top: 0.4em;
  margin-bottom: 0.4em;
}
.poke-entry p{
  margin-top: 0.2em;
  margin-bottom: 0.2em;
}

/* MOBILE FORMAT */
@media screen and (max-width: 500px) {
  .pokedetails-container{
    width: 80%;
    height: auto;
    overflow-y: auto;
    max-width: 100%;
    max-height: 80vh;
  }
  .pokebox{
    left:50%;
    transform: translateX(-50%);
  }
}