.pokedetails-container{
  background-color: #F2F6FC;
  border-radius: 2em;
  position: fixed;
  top: 6em;
  right: 0;
  width: 30rem;
  height: auto;
  z-index: 9999; 
   box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25); 
  padding: 1em;
}
.pokedetails-container h1{
  font-size: 2em;
}
.details-close{
  position: absolute;
  top: 1rem;
  right: 1.5rem;
}
.pokeimg{
  width: 50%;
  margin-top: 2em;
}
.poke-type{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.info-tags{
  display:flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}