.listing-entry-container{
  display: flex;
  flex-direction: row;
  gap: 1em;
  padding: 1em;

}
.listing-poke-img{
  background-color: #C9DCF4;
  border-radius: 1em;
  padding: 1em;
  height: fit-content;
}
.seeking{
  background-color: #F4E1C9;

}
.listing-poke-img img{
  width: 6em;
  height: 6em;
}
.listing-poke-img p{
  margin-top: 0;
}
.listing-table{
  width: 80%;
  overflow-x: auto;
  margin: 1em 0;
}
.listing-table table{
  width: 100%;
  border-collapse: collapse;

}
.listing-table th,td{
  padding: 0.6em 1em;
  text-align: center;
  border: 0.1em solid #ccc
}
.listing-table th{
  background-color: #f4f4f4;
  font-weight: bold;
}
.listing-table td{
  background-color: #fff;
}

/* Mobile format */
@media screen and (max-width: 830px) {
  .listing-entry-container{
    flex-direction: column;
    gap: 1em;
  }
  .listing-table{
    width: 100%;
  }
  .listing-table th{
    font-size: 0.9em;
  }
  .listing-table td{
    font-size: 0.1em;
  }
}