.user-listings-container{
  display:flex;
  flex-direction: column;
  justify-self: center;
  justify-content: center;
  margin-top:5em;
  width: 80%;
}
.breadcrumb{
  justify-self: flex-start;
}
.filter{
  justify-self: flex-start;
  width: 20%;
  padding: 1em;
}
.user-listings{
  margin-top: 1em;
  display:flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
  justify-self: center;
}



.pagination-item{
  padding: 0.5em;
  border-radius: 1em;
  transition: all 0.3s ease; 
  cursor: pointer;
}
.pagination-item img{
  height: 4em;
  width: 4em;
}
.pagination-item:hover {
  background-color: #C9DCF4;
}
.pagination-item.selected {
  border: 0.2em solid #78A7E2; 
  box-shadow: 0 0 10px rgba(120, 167, 226, 0.5); 
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.4em;
}

.page-item {
  margin: 0 0.6em;
  padding: 0.3em;
}

.page-item a {
  text-decoration: none;
  color: #616980;
  padding: 0.6em 0.9em;
  border-radius: 0.5em;
}

.page-item a:hover {
  background-color: #78A7E2; 
  color: white; 
}

.pagination-active a{
  background-color: #78A7E2;
  color: white;
}