.notif-container{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.nav-notif{
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  }
  
  .notif-counter {
    position: absolute;
    top: -0.3em;
    right: -0.3em;
    border-radius: 50%;
    width: 1.5em;
    height: 1.5em;
    background-color: #3B5BBA;
    color: white;
    font-weight: 500;
}
.hasNotif {
  transition: opacity 0.3s ease-in-out;
  color:#5988D8;
  font-size: 2em;
  padding: 0.3em;
}
.hasNotif.selected{
  color:#5988D8;
  font-size: 2em;
  background-color: #E1EBF8;
  padding: 0.3em;
  border-radius: 0.4em;
}

.noNotif {
  transition: opacity 0.3s ease-in-out;
  opacity: 0.9;
  color:#212A4A;
  font-size: 2em;
  padding: 0.3em;
}
.noNotif.selected{
  transition: opacity 0.3s ease-in-out;
  opacity: 0.9;
  color:#5988D8;
  font-size: 2em;
  background-color: #E1EBF8;
  padding: 0.3em;
  border-radius: 0.4em;
}
.notif-dropdown{
  display: none;
}

.notif-dropdown.open{
  background-color:#ffffff;
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  top: 6em;
  right:0;
  padding:1.5em;
  border-radius: 1em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  width: 22em;
    height: 25em;
    overflow-y: auto;
}

 /* MOBILE FORMAT */
 @media screen and (max-width: 1100px) {
  .notif-dropdown.open{
    background-color:#ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    top:6em;
    right: -2.3em;
    padding:1.5em;
    border-radius: 1em;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    width: 20em;
      height: 18em;
      overflow-y: auto;
  }
  
 }