.listing-box-container{
  background-color: #C9DCF4;
  justify-content: center;
  align-items: center;
  width: 12em;
  height:12em;
  border-radius: 1em;
}
.seeking{
  background-color: #F4E1C9;
}
.listing-box-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.listing-box-title{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 70%;

}
.listing-box-title p{
  font-weight: 600;
}
.listing-box-add{
  width: 7em;
  height: 7em;
  background-color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor:pointer;
}
.listing-box-add:hover{
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}
 .pokemon-img{
  width: 80%;
  height: 80%;
}
.pokemon-img img{
  height: 100%;
  width: 100%;
}

/* Mobile format */
@media screen and (max-width: 715px) {
  .listing-box-container{
    width: 8em;
    height:9em;
  }
  .listing-box-title{
    font-size: 0.8em;
    justify-content: center;
    width: 100%;
  
  }
  .listing-box-add{
    width: 5em;
    height: 5em;
  }
}