.listing-page-container{
  display:flex;
  justify-content: center;
  align-items: center;
  margin-top:5em;
}

.listing-loader{
  justify-self: center;
  margin-top: 40%;
}
.listing-page-all{
  width: 80%;
}

.listing-page-contents{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

/* Mobile format */
@media screen and (max-width: 830px) {
  .listing-page-contents{
    width: 100%;
  }
}