.trade-hub-container{
  justify-content: center;
  align-items: center;
  margin-top:5em;

}
.trade-hub-title{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.trade-hub-content{
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.hub-title-listings{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  width:60%;
  justify-self: center;
  margin-top: 2em;

}
.hub-nav{
  justify-self: center;
}
.create-listing-container{
  justify-self: center;
  align-self: center;
}
.hub-title-listings{
  width: 30em;
}
.hub-title-listings button{
  width:8em;
  justify-self: flex-end;
}
.hub-title-listings h3{
  justify-self: flex-start;
}
.hub-listings{
  margin-top: 1em;
  display:flex;
  flex-direction: column;
  gap: 1em;
  width: 40em;
  justify-self: center;
 
}

.pagination-item{
  padding: 0.5em;
  border-radius: 1em;
  transition: all 0.3s ease; 
  cursor: pointer;
}
.pagination-item img{
  height: 4em;
  width: 4em;
}
.pagination-item:hover {
  background-color: #C9DCF4;
}
.pagination-item.selected {
  border: 0.2em solid #78A7E2; 
  box-shadow: 0 0 10px rgba(120, 167, 226, 0.5); 
}

.pagination {
  display: flex;
  justify-content: center;
  list-style-type: none;
  padding: 0.4em;
}

.page-item {
  margin: 0 0.6em;
  padding: 0.3em;
}

.page-item a {
  text-decoration: none;
  color: #616980;
  padding: 0.6em 0.9em;
  border-radius: 0.5em;
}

.page-item a:hover {
  background-color: #78A7E2; 
  color: white; 
}

.pagination-active a{
  background-color: #78A7E2;
  color: white;
}

/* Mobile format */
@media screen and (max-width: 715px) {
  .hub-title-listings{
    width: 100%;
  }
  .hub-listings{
    width: 100%;
  }
}