.cards-container{
  position: relative;
  background-color: #F2F6FC;
  width: 14em;
  height:12em;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-radius: 2em;;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);  
}
.pokemon{
  height: 10em;
  width:10em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pokemon img{
  height: 8em;
  width:8em;
}
.pokemon p{
  margin:0;
  font-size: 1.5em;
}
.rare-indicator {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  top: 2em;
  left: 0.8em;
  z-index: 1;
}
.rare-indicator img{
  width: 100%;
  height: auto;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.rare-indicator img.show-legendary{
  opacity:1;
}
.shiny-star{
  color: #88A0E6;
  font-size: 2em;
  margin-top: 0.5em;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.shiny-star.show-shiny{
  opacity: 1;
}
.pokebox-buttons {
  position: absolute;
  top: 2em;
  right: 0.8em;
  z-index: 1;
}