.logo-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    height: 100%;
    width: 14em;
    
}

.logo {
    width: 4em;
    height: auto;
}

.logo-brand-name{
    font-size: 1.6em;
    font-weight: 600;
    color: #213547;
}