.offer-card-container{
  background-color: #FFFFFF;
  width:98%;
  height: 11em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-radius: 2em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  gap: 1em;
  padding: 0.5em;
}
.header{
  height: 100%;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  text-align: left;
  gap: 0;
}
.header h3{
  padding: 0;
}

.offer-user{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}
.offer-user img{
  background-color: #E1EBF8;
  padding: 0.3em;
  border-radius: 50%;
  width: 2em;
  height: 2em;
}

.offer-buttons{
  display: flex;
  flex-direction: column;
  height: 80%;
  justify-content: center;
  align-items: center;
}
.offer-buttons p{
  text-align: center;
  font-size: 0.8em;
}
.accept-decline{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5em;
  width: 10em;
  gap: 1em;
}
.accept-decline button{
  font-size: 1em;
  padding: 0.4em 1em;
  border-radius: 1em;
  width: 100%;
}
.outline-butto{
  width: 100%;
}
.outline-butto button{
  border-color: #5988D8;
  border-width: 0.15em;
  background-color: #ffffff;
  color: #212A4A;

}

.outline-butto button:hover{
  background-color: #F2F6FC;
}

/* Mobile format */
@media screen and (max-width: 830px) {
  .offer-card-container{
    width: 100%;
    height: auto;
    padding: 0.2em;
    flex-direction: column;
  }
  .offer-buttons{
    width: 100%;
    background-color: palegoldenrod;
  }
  .accept-decline {
    width: 80%;
    justify-self: center;
  }
  .header{
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}