.wishlist-container{
  position: relative;
  width: 2em;
  height: 2em;
  padding: 0.3em;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
}
.found-disable{
  cursor: not-allowed;
  opacity: 0.3;
  pointer-events: none;
}
.wishlist-icon {
  font-size: 1.5em;
  position: absolute;
  transition: opacity 0.3s ease, transform 0.3s ease; 
  opacity: 0;
  pointer-events: none;
  color: #88A0E6;
}

.visible {
  opacity: 1;
  pointer-events: all; 
}


.wishlist-container:hover .wishlist-icon {
  transform: scale(1.1);
}
